* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: #93a379;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.calendar {
  margin: auto;
 
  background-color: #fff;
  box-shadow: 0px 0px 15px 4px rgba(220, 24, 14, 0.2);
  width: 460px;
  height: 500px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 30px;
  color: #fff;
  height: 20%;
  background-image: linear-gradient(90deg, #C6EA8D 0%, #FE90AF 55%, #dcf8ae 100%);
}
 
.weekdays {
  background-color: #C6EA8D;
  color: #fff;
  padding: 7px 0;
  display: flex;
}

.days {
  font-weight: 300;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.weekdays div,
.days div {
  text-align: center;
  width: 14.28%;
}

.days div {
  padding: 10px 0;
  margin-bottom: 10px;
  transition: all 0.4s;
}

.prev_date {
  color: #999;
}

.today {
  background-color: #f993a7;
  color: #fff;
  border-radius: 50%;
}

.days div:hover {
  cursor: pointer;
  background-color: #a5eb33;
  border-radius: 50%;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 23px;
  background-color: rgba(252, 240, 240, 0.906);
  transition: all 0.4s;
}

.prev:hover,
.next:hover {
  cursor: pointer;
  background-color: rgba(78, 7, 73, 0.2);
}

#month {
  font-size: 30px;
  font-weight: 500;
}
